<li
    [class.completed]="todo.completed"
    [class.editing]="updating">
    <div class="view">
        <input
            class="toggle"
            type="checkbox"
            [formControl]="checkCompleted">
        <label (dblclick)="update()">{{todo.text}}</label>
        <button class="destroy"
                (click)="delete()"></button>
    </div>
    <input
        class="edit"
        type="text"
        [formControl]="textInput"
        (blur)="endUpdate()"
        #localInput>
</li>